/********************** CAMPOS DE DATA NO ADM *****************/
.sf_admin_date select, .sf_admin_time select, .simpla_admin_date select, .simpla_admin_filter_field_plantao_data_inicial select, .simpla_admin_filter_field_plantao_data_final select {width: 65px !important}

.double_list_select, .double_list_select-selected {
	width: 300px !important;
}

.thumbnail_container img {
	max-width: 250px;
  max-height: 320px;
  width: auto;
  height: auto;
}
