.DS_Store
.tm_properties
.bash_extras
.bash_history
.bash_logout
.bash_profile
.bashrc
.ftpaccess
.gitconfig
.ssh/
.viminfo
php_erro
www/uploads/*
www/html*
symfony/data/sql/*
symfony/cache/*
symfony/log/*
symfony/config/databases.yml
symfony/lib/filter/doctrine/base/Base*
symfony/lib/filter/doctrine/*Plugin/base/Base*
symfony/lib/form/doctrine/base/Base*
symfony/lib/form/doctrine/*Plugin/base/Base*
symfony/lib/model/doctrine/base/Base*
symfony/lib/model/doctrine/*Plugin/base/Base*
symfony/lib/vendor/*
