@model MrJack.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" style="height: 100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Painel - MR. Jack Assistência técnica</title>
    <!-- jQuery-->
    <script type="text/javascript" src="~/plugins/jquery/dist/jquery.min.js"></script>
    <!-- PACE-->
    <link rel="stylesheet" type="text/css" href="~/plugins/PACE/themes/blue/pace-theme-flash.css">
    <script type="text/javascript" src="plugins/PACE/pace.min.js"></script>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="~/plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="~/plugins/themify-icons/themify-icons.css">
    <!-- Primary Style-->
    <link rel="stylesheet" type="text/css" href="~/build/css/first-layout.css">
    <!-- Toastr-->
    <link rel="stylesheet" type="text/css" href="~/plugins/toastr/toastr.min.css">
    <!-- Toastr-->
    <script type="text/javascript" src="~/plugins/toastr/toastr.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="background-image: url(../build/images/backgrounds/16.jpg)" class="body-bg-full">

     <div class="container page-container">
        <div class="page-content">
            @if (TempData["Mensagem"] != null)
            {
                <script>
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-top-center",
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        toastr["error"]("", "@TempData["Mensagem"]")
                </script>
            }
            <div class="logo"><img src="../build/images/logo/logo.png" alt="" width="180"></div>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @*@Html.AntiForgeryToken()*@
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control", @placeholder = "Usuário" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        @Html.EditorFor(model => model.senha, new { htmlAttributes = new { @class = "form-control", @placeholder = "Senha", @type = "password" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">

                                    </div>
                                </div>
                                <button type="submit" class="btn-lg btn btn-primary btn-rounded btn-block">Entrar</button>
                            }
                            <hr>

                            <div class="clearfix">
                                <p class="text-muted mb-0 pull-left">É nosso cliente?</p><a href="@Url.Action("LoginCliente","Account")" class="inline-block pull-right">Entre aqui</a>
                            </div>
                        </div>
                    </div>

                    <!-- jQuery-->
                    <script type="text/javascript" src="~/plugins/jquery/dist/jquery.min.js"></script>
                    <!-- Bootstrap JavaScript-->
                    <script type="text/javascript" src="~/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
                    <!-- Custom JS-->
                    <script type="text/javascript" src="~/build/js/first-layout/extra-demo.js"></script>
                </body>
                </html>
                <!-- Localized -->
